/* Style for the body on all pages */
body{
	background-color:#111476;
	height: 100%;
	margin: 0;
	padding: 0;
}

/* Creating uniform fonts across all the pages */
h1{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 70;
	color: white;
	text-align: center;
}
h2{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 40;
	color: white;
	text-align: center;
}
h3{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
}
p{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
}
li{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
}
/*Formatting text links to be consistent across all pages and fit within overall look of the web page */
a{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
}
/*Creating consistent table formatting*/
table{
	border: 1px solid #9DEA4F;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
	Margin: 0 auto;
	width: 100%;
}
tr{
	border: 1px solid #9DEA4F;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
	Margin: 0 auto;
}
th{
	border: 1px solid #9DEA4F;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 30;
	color: white;
	Margin: 0 auto;
}
td{
	border: 1px solid #9DEA4F;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20;
	color: white;
	Margin: 0 auto;
}

/* ID section. Listed to represent the order in with the elements are places on the pages from top to bottom*/
#container{
	min-height: 100%
	position: relative;
}
#header{
	padding: 10px;
	background-color: black;
	top: 0;
}
#menubar{
	padding: 10px;
	background-color: black;
}
#navbar{
	background: black;
	display: none;
}
#nav1{
	float: left;
	width: 25%;
	background-color: black;
	content: center; 
}
#nav2{
	float: left;
	width: 25%;
	background-color: black;
	content: center; 
}
#nav3{
	float: left;
	width: 25%;
	background-color: black;
	content: center; 
}
#nav4{
	float: left;
	width: 25%;
	background-color: black;
	content: center; 
}
#hidden1{
	display: none;
}
#body{
	padding: 1rem;
	padding-bottom: 3rem;
}
#bodyBox1{
	width: 50%;
	text-align: center;
	float: left;
	background-color: #111476;
	margin: 0px;
	padding: 0px;
}
#bodyBox2{
	width: 50%;
	text-align: center;
	float: right;
	background-color: #111476;
	margin: 0px;
	padding: 0px;
}
#footer{
	bottom: 0;
	width: 100%;
	background-color: #111476;
	padding = 10px;
}
#footerBox1{
	width: 50%;
	text-align: center-left;
	float: left;
	background-color: black;
	margin: 0px;
	padding: 0px;
}
#footerBox2{
	width: 50%;
	text-align: right;
	float: right;
	background-color: black;
	margin: 0px;
	padding: 0px;
}


/* Class Section */
.menu{
}
.menu a:link{
	color:white;
	text-decoration: none;
}
.menu a:visited{
	color:white;
	text-decoration: none;
}

