* {box-sizing: border-box}

/* Style for the body on all pages */
body{
	background-color: #111476;
	height: 100%;
	margin: 0;
	padding: 0;
}

/* Creating uniform fonts across all the pages */
h1{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 70;
	color: white;
	text-align: center;
}
h2{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 40;
	color: white;
	text-align: center;
}
h3{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
}
p{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
}
li{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
}
/*Formatting text links to be consistent across all pages and fit within overall look of the web page */
a{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
}
/*Creating consistent table formatting*/
table{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
	Margin: 0 auto;
	width: 100%;
}
tr{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
	Margin: 0 auto;
}
th{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 30;
	color: white;
	Margin: 0 auto;
}
td{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20;
	color: white;
	Margin: 0 auto;
}
input[type=text], textarea{
	width: 100%;
	padding: 1rem;
	border: 1px solid black;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 1rem;
	margin-bottom: 1rem;
	resize: vertical;
}
label{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
	text-align: left;
	font-size: 20;
}
input[type=submit]{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
	background-color: #111476;
	padding: 1rem;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
input[type=submit]:hover {
	background-color:white;
	color:black;
}

/* ID section. Listed to represent the order in with the elements are places on the pages from top to bottom*/
#container{
	min-height: 100%
	position: relative;
}
#header{
	padding: 10px;
	background-color: black;
	top: 0;
}
#menubar{
	padding: 10px;
	background-color: black;
}
#navbar{
	background: black;
	display: none;
}
#nav1{
	float: left;
	width: 25%;
	background-color: black;
	content: center; 
}
#nav2{
	float: left;
	width: 25%;
	background-color: black;
	content: center; 
}
#nav3{
	float: left;
	width: 25%;
	background-color: black;
	content: center; 
}
#nav4{
	float: left;
	width: 25%;
	background-color: black;
	content: center; 
}
#hidden1{
	display: none;
}
#body{
	padding: 1rem;
	padding-bottom: 3rem;
}
#bodyBox1{
	width: 50%;
	text-align: center;
	float: left;
	background-color: #111476;
	margin: 0px;
	padding: 0px;
}
#contactForm{
	text-align: left;
	border-radius: 5px;
	background-color: black;
	padding: 1rem;
}
#bodyBox2{
	width: 50%;
	text-align: center;
	float: right;
	background-color: #111476;
	margin: 0px;
	padding: 0px;
}
#td1{
	border-top: 5px solid black; 
	border-right: 5px solid black; 
	border-bottom: 5px solid black;
	margin: 0px;
	padding: 0px;
}
#td2{
	border-top: 5px solid black; 
	border-left: 5px solid black; 
	border-bottom: 5px solid black;
	margin: 0px;
	padding: 0px;
}
#footer{
	bottom: 0;
	width: 100%;
	background-color: #111476;
	padding = 10px;
}
#footerBox1{
	width: 50%;
	text-align: center;
	float: left;
	background-color: black;
	margin: 0px;
	padding: 0px;
}
#footerBox2{
	width: 50%;
	text-align: center;
	float: right;
	background-color: black;
	margin: 0px;
	padding: 0px;
}


/* Class Section */
.menu{
}
.menu a:link{
	color:white;
	text-decoration: none;
}
.menu a:visited{
	color:white;
	text-decoration: none;
}

/* Slideshow style */
.slideshowContainer{
	max-width: 1000px;
	position: relative;
	margin: auto;
}
.mySlides{
	display: none;
}
.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.next{
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
	background-color: rgba(0,0,0,0.8);
}
.text{
	color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}
.numbertext{
	color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}